<template>
    <section>
        <div>
            <div class="q-pa-md q-gutter-sm" style="width:100%;">
                <q-breadcrumbs>
                <q-breadcrumbs-el icon="home" to="/home" />
                <q-breadcrumbs-el :label="blok.header" icon="people" />
                </q-breadcrumbs>
            </div>
        </div>
            <q-card-section v-editable="blok">
                <q-card class="MyCard text-weight-light">
                    <q-card-section class="CardSection">
                    <h6>
                        {{ blok.header }}
                    </h6>
                    <div v-html="description">
                            
                    </div>
                    </q-card-section>
                </q-card>
            </q-card-section>
        <div class="q-pa-md row items-start q-gutter-md">
            <span v-for="(blok, key) in blok.ratelist" :key="key">
                <ratecategory :blok="blok">                 
                </ratecategory>
            </span>
        </div>
    </section>
</template>
<script>
import Vue from 'vue'
import marked from 'marked'
import StoryblokClient from 'storyblok-js-client'
const token = 'QgNPvh0TZIMuvUAgWww3vwtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 
export default Vue.extend({
    props: ['blok'],
    name: 'RatesContainer',
    components: {
         ratecategory: require('components/Rates/RateCategory').default
    },
    computed: {
        description () {
            return this.blok.richtext ? storyapi.richTextResolver.render(this.blok.richtext) : ''
        }
    }
})
</script>
