<template>
    <div class="q-pa-md row items-start q-gutter-md">
        <q-card class="rateCategoryParaCardDiv" v-editable="blok">
             <div>
                    <q-img 
                            :src="blok.topimage.filename"
                            height="218px"
                            width="230px"
                            class="rounded-borders"
                            native-context-menu
                        >
                        <div class="absolute-bottom text-subtitle1 text-center">
                            <h6 class="ParagraphHeader">{{ blok.name }}</h6>
                        </div>
                    </q-img>
                </div>
            <div>
                {{ blok.name }}
            </div>
            <div class="text-weight-light" v-html="description">
                
            </div>
            <div>
                <span v-for="(blok, key) in blok.rate" :key="key">
                    <role :blok="blok">

                    </role>
                </span>
            </div>
        </q-card>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
import marked from 'marked'
import StoryblokClient from 'storyblok-js-client'
const token = 'QgNPvh0TZIMuvUAgWww3vwtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 
export default Vue.extend({
    props: ['blok'],
    name: 'RateCategory',
    components: {
        role: require('components/Rates/Role').default
    },
    computed: {
        description () {
            return this.blok.richtext ? storyapi.richTextResolver.render(this.blok.richtext) : ''
        }
    }
})
</script>
<style lang="scss" scoped>
.rateCategoryParaCardDiv {
  padding-top: 1.0em;
  padding-bottom: 1.0em;
  padding-left: 0.50em;
  margin-bottom: 1.0em;
  padding-right: 0.75em;
  max-width: 18.0em;
  img {
    width: 100%;
    height: auto;
  }
}
</style>
