<template>
    <q-card-section class="roleCardSection">
        <q-card class="role-card" v-editable="blok">
            <div>
                <div>
                    {{ blok.name }}
                </div>
                <div>
                    {{ blok.description }}
                </div>
                <div>

                </div>
                <div>
                    £{{ blok.price }} / {{ blok.per }}
                </div>
            </div>
        </q-card>
    </q-card-section>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['blok'],
    name: 'Role'
})
</script>
<style lang="scss" scoped>
.role-card {
  width: 100%;
  max-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 1px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.roleCardSection {
    padding-top: 2px;
    padding-bottom: 2px;
}
</style>
