<template>
    <div v-editable="blok"
    class="text-weight-light">
        <div v-html="body"></div>
    </div>
</template>
<script>
import Vue from 'vue'
import marked from 'marked'
import StoryblokClient from 'storyblok-js-client'
const token = 'QgNPvh0TZIMuvUAgWww3vwtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 
export default Vue.extend({
    props: ['blok'],
    computed: {
        body () {
            return this.blok.richtext ? storyapi.richTextResolver.render(this.blok.richtext) : ''
        }
    }
})
</script>
