<template>
    <q-card class="MyCard">
        <div v-editable="blok"  class="blog">
          <h4>{{ blok.name }}</h4>
          <h5>{{ blok.intro }}</h5>
          <div v-html="body"></div>
            <span v-for="(intro, key) in blok.blogparalist" :key="key">
                <blogpara :blok="intro"></blogpara>
            </span>
        </div>
    </q-card>
</template>
<script>
import Vue from 'vue'
import marked from 'marked'
import StoryblokClient from 'storyblok-js-client'
const token = 'QgNPvh0TZIMuvUAgWww3vwtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 
export default {
  name: 'BlogDetail',
  props: {
    blok: {
      type: Object,
      required: true
    }
  },
  components: {
    blogpara: require('components/blogs/BlogPara').default
  },
    computed: {
        body () {
            return this.blok.body ? storyapi.richTextResolver.render(this.blok.body) : ''
        }
    }
}
</script>
<style lang="scss">
.blog {
  padding: 0 20px;
  margin: 40px auto 100px;

  img {
    width: 100%;
    height: auto;
  }
}

.blog__body {
  line-height: 1.6;
}
.MyCard {
  width: 100%;
}
</style>
