<template>
    <div>
        <h6>{{ blok.header }}</h6>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
name: 'BlogsList',
  props: {
    blok: {
      type: Object,
      required: true
    },
    slug: Object
  }
})
</script>
