<template>
    <q-item-section>
        <div class="row">
            <div class="column DivColumn">
                <q-item-label>
                    <a :href="link.fullslug">{{ link.name }}</a>
                </q-item-label>
            </div>
            <div class="column DivColumn">
                <q-item-label>{{ link.published }}</q-item-label>
            </div>
        </div>
    </q-item-section>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    name: 'BlogLink',
    props: ['link'],
    data () {
        return {
            testArray: [],
            anotherArray: []
        }
    }
})
</script>
<style lang="scss" scoped>
.DivColumn {
    padding: 5px;
}
</style>
