<template>
    <div v-editable="blok" class="contractParaMyCard">
          <div>
                <q-img 
                        :src="blok.topimage.filename"
                        height="218px"
                        width="230px"
                        class="rounded-borders"
                        native-context-menu
                    >
                    <div class="absolute-bottom text-subtitle1 text-center">
                        <h6 class="ParagraphHeader">{{ blok.header }}</h6>
                    </div>
                </q-img>
          </div>
            <div class="contractParaCardDiv text-weight-light">
              <div class="cardDivRichText">
                <div
                    v-html="body"
                ></div>
              </div>
            </div>
    </div>
</template>
<script>
import Vue from 'vue'
import marked from 'marked'
import StoryblokClient from 'storyblok-js-client'
const token = 'QgNPvh0TZIMuvUAgWww3vwtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 
export default Vue.extend({
    props: ['blok'],
    computed: {
        body () {
            return this.blok.richtext ? storyapi.richTextResolver.render(this.blok.richtext) : ''
        }
    }
})
</script>
<style lang="scss">
// .cardDiv {
//   padding: 0 20px;
//   margin: 40px auto 100px;

//   img {
//     width: 100%;
//     height: auto;
//   }
// }
.contractParaCardDiv {
  // padding: 0 20px;
  padding-top: 1.0em;
  padding-bottom: 1.0em;
  padding-left: 0.50em;
  // margin: 40px auto 100px;
  margin-bottom: 1.0em;
  img {
    width: 100%;
    height: auto;
  }
}

.blog__body {
  line-height: 1.6;
}
.contractParaMyCard {
  width: 100%;
}
.cardDivRichText {
  max-width: 18em;
}
</style>
