<template>
    <div v-editable="blok">
        <q-card class="ContractSupplyCard">
            <q-card-section>
                <q-img 
                    :src="topImage"
                    height="218px"
                    width="230px"
                    class="rounded-borders"
                >
                    <div class="absolute-full text-subtitle2 flex flex-center">
                        <h6 class="ParagraphHeader">{{ blok.header }}</h6>
                    </div>
                </q-img>
            </q-card-section>
            <div class="ContractSupplyCardDescriptionBlock text-weight-light">
                <div class="ContractSupplyCardDescriptionBlockRichText">
                    <div
                        v-html="body"
                    ></div>
                </div>
            </div>
        </q-card>
        <div class="q-pa-md row items-start q-gutter-md ContractRows">
                <div v-for="(blok, key) in blok.paragraphs" :key="key" class="paragraphCard">
                    <q-card >
                        <q-card-section>
                            <contactorpara :blok="blok" />
                        </q-card-section>
                    </q-card>
                </div>

        </div>
    </div>
</template>
<script>
import Vue from 'vue'
import marked from 'marked'
import StoryblokClient from 'storyblok-js-client'
const token = 'QgNPvh0TZIMuvUAgWww3vwtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 
export default Vue.extend({
    props: ['blok'],
    components: {
        contactorpara: require('components/Contractors/ContractorPara').default
    },
    computed: {
        body () {
            return this.blok.richtext ? storyapi.richTextResolver.render(this.blok.richtext) : ''
        },
        topImage () {
            console.log('top Image' + this.blok.topimage)
            return 'https://a.storyblok.com/f/86878/300x225/ce8c7b8eb8/hands300w.jpg'
        }
    }
})
</script>
<style lang="scss">
.paragraphCard {
    max-width: 18.5em;
    width: 20em;
}
.cardDiv {
  padding: 0 20px;
  margin: 40px auto 100px;

  img {
    width: 100%;
    height: auto;
  }
}
.blog__body {
  line-height: 1.6;
}
.ContractSupplyCard {
  width: 100%;
  border: 0px;
}
.ParagraphHeader {
  margin-block-start: 0.33em;
  margin-block-end: 0.33em
}
.ContractSupplyCardDescriptionBlock {
    padding-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
.ContractSupplyCardDescriptionBlockRichText {
    max-width: 64em;
}
.ContractRows {
    padding-left: 0px;
}
</style>
