<template>
    <div v-editable="blok">
        <q-card class="MyCard text-weight-light">
            <q-card-section>
                <q-list bordered separator>
                    <q-item clickable v-ripple>
                        <q-item-section avatar>
                            <q-avatar rounded color="positive" text-color="white" icon="business" />
                        </q-item-section>
                        <q-item-section>
                            {{ blok.addressname }}
                        </q-item-section>
                    </q-item>
                    <q-item clickable v-ripple>
                        <q-item-section>{{ blok.firstline }} {{ blok.secondline }}</q-item-section>
                    </q-item>
                    <q-item clickable v-ripple>
                        <q-item-section>{{ blok.town }}</q-item-section>
                    </q-item>
                    <q-item clickable v-ripple>
                        <q-item-section>{{ blok.postcode }}</q-item-section>
                    </q-item>
                </q-list>
            </q-card-section>
        </q-card>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    name: 'CompanyAddress',
    props: ['blok']
})
</script>
<style lang="scss" scoped>
.MyCard {
  width: 100%;
  margin-top: 6px;
}
</style>
