<template>
    <div></div>
</template>
<script lang="ts">
import Vue from 'vue'
// import { firestoreDb } from 'boot/brdfirestore'
import { mapActions } from 'vuex'
export default Vue.extend({
    name: 'Contractors',
    methods: {
        // ...mapActions('generic', ['bindUsers']),
        getUsers () {
            console.log('fired getUsers')
            // const db = firestoreDb
            // .collection('users')
            // db
            // .onSnapshot((dbref) => {
            //     dbref.forEach((doc) => {
            //         console.log('document ' + doc.data().name)
            //     })
            // })

         // this.bindUsers()
        }

    },
    mounted () {
        this.getUsers()
    }
})
</script>
