<template>
  <header class="top-header util__flex util__container">
    <!-- <nav class="top-header__col">
      <ul class="top-header__nav">
          <li :key="index" v-for="(navitem, index) in $store.state.nav.settings.navitem">
          <nuxt-link class="top-header__link" :to="navitem.link.cached_url">
            {{ navitem.name }}
          </nuxt-link> 
          {{ navitem.name}} 
          {{ navitem.cached_url }}
        </li>
      </ul>
    </nav> -->
    <!-- <a href="/" class="top-header__col top-header__logo">
      <img src="http://a.storyblok.com/f/42016/1096x313/0353bf6654/logo2.png">
    </a> -->
    <!-- <nav class="top-header__col top-header__second-navi">
      <ul class="top-header__nav top-header__nav--right">
        <li>
          <nuxt-link class="top-header__link" to="/en/blog">English</nuxt-link>
        </li>
        <li>
          <nuxt-link class="top-header__link" to="/de/blog">German</nuxt-link>
        </li>
      </ul>
    </nav> -->

    <!-- <ul>
      <li :key="index" v-for="(navitem, index) in $store.state.nav.settings.navitem">
        <a class="link" :href="navitem.link.cached_url">{{ navitem.name }} </a>
      </li>
    </ul> -->

    <q-menu
      transition-show="jump-down"
      transition-hide="jump-up"
    >
    <q-list style="min-width: 200px">
      <q-item clickable>
              <q-item-section>
                <a class="link" href="/">Home</a>
              </q-item-section>
      </q-item>
      <q-item clickable :key="index" v-for="(navitem, index) in $store.state.nav.settings.navitem">
        <q-item-section >
          <!-- <a class="link" :href="navitem.link.cached_url">{{ navitem.name }} </a> -->
          Yes
        </q-item-section>
      </q-item>
    </q-list>

    </q-menu>
  </header>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    
})
</script>
