<template>
  <q-card
    v-editable="blok"
    class="ChapterIntro text-weight-light"
  >
    <h3>{{ blok.headline }}</h3>
    <q-card-section>
      <div
        class="ChapterIntro__body o-content text-weight-light"
        v-html="text"
      />
      <div
      class="ChapterIntro__body o-content text-weight-light"
      v-html="intropara"
      ></div>
    </q-card-section>
    
  </q-card>
</template>

<script>
import marked from 'marked'
import StoryblokClient from 'storyblok-js-client'
const token = 'QgNPvh0TZIMuvUAgWww3vwtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 

export default {
  name: 'ChapterIntro',
  props: {
    blok: {
      type: Object,
      required: true
    }
  },
  computed: {
    text () {
      return marked(this.blok.text)
    },
    intropara () {
      return this.blok.intropara ? storyapi.richTextResolver.render(this.blok.intropara) : ''
    }
  }
}
</script>

<style lang="scss">
@import '../../css/scss/settings/spacings';

.ChapterIntro {
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.ChapterIntro__body {
  margin-top: setting-spacing(xs);
  text-align: left;
}
</style>
