<template>
    <div>
    <ChapterLayout
      v-for="chapter in chapters"
      :key="chapter._uid"
      :config="chapter.config[0]"
    >
      <Component
        :is="`${chapter.component.replace(/_/g, '-')}`"
        :blok="chapter"
      />
      
    </ChapterLayout>
</div>
</template>

<script lang="ts">

export default {
  name: 'ChapterLoader',
  components: {
    ChapterIntro: require('components/chapters/ChapterIntro').default,
    ChapterLayout: require('components/chapters/ChapterLayout').default,
    ChapterMediaObject: require('components/chapters/ChapterMediaObject').default,
    ChapterMultiColumnTeaser: require('components/chapters/ChapterMultiColumnTeaser').default,
    ChapterMultiColumnTeaserPlain: require('components/chapters/ChapterMultiColumnTeaserPlain').default
  },
  props: {
    chapters: {
      required: true,
      type: Array
    }
  }
}
</script>
<style lang="scss" scoped>
  .ChapterLoader {
    text-align: center;
    font-size: 1.25em;
  }
</style>
