<template>
  <ParagraphPlainLoader
    v-editable="blok"
    :paragraphs="blok.teasers"
    
  />
</template>

<script lang="ts">

export default {
  name: 'ChapterMultiColumnTeaserPlain',
  components: {
    ParagraphPlainLoader: require('components/ParagraphPlainLoader').default
  },
  props: {
    blok: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss">
@import '../../css/scss/settings/spacings';

.ChapterMultiColumnTeaser {
  display: grid;
  grid-gap: setting-spacing(m);
  grid-template-columns: 1fr 1fr 1fr;
}
</style>
