<template>
<section
  :style="color"
  :class="showBackgroundImage" 
>
  <q-card-section
    :class="classes"
    class="ChapterLayout text-weight-light"
  >
    <slot/>
  </q-card-section>
</section>
</template>

<script>
export default {
  name: 'ChapterLayout',
  props: {
    config: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    classes () {
      const classes = []

      if (this.config.spacing_top) {
        classes.push(`u-spacing-top-${this.config.spacing_top}`)
      }

      if (this.config.container) {
        classes.push(`o-container o-container--${this.config.container}`)
      }

      return classes
    },
    color () {
      let colorvariable = '#00000'
       if (this.config.section_color) {
        console.log('section color ' + this.config.section_color.color)
        colorvariable = `background-color:${this.config.section_color.color};` // this.config.section_color.color
        console.log('colorvariable ' + colorvariable)
      }
      return colorvariable
    },
    showBackgroundImage () {
      let showBackgroundImageVariable = 'image'
      if (this.config.show_background_image) {
        console.log('show background image ' + this.config.show_background_image)
        showBackgroundImageVariable = `landing__front_${this.config.show_background_image}`
      }
      return showBackgroundImageVariable
    }
  }
}
</script>
<style lang="scss" scoped>
 .ChapterLayout {
    text-align: center;
    font-size: 1.00em;
    padding-left: 0px;
    padding-right: 0px;
 }
 
 .landing__front {
    padding: 130px 10px 100px!important;
    background-size: 240px;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation: logo-rotate 200s linear infinite;
    background-image: url('/statics/images/stars.svg');
 }
  .landing__front_image {
    padding: 50px 10px 50px!important;
    background-size: 240px;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    // animation: logo-rotate 200s linear infinite;
    animation: animatedBackground 40s linear infinite;
    //animation: infinite-spinning 40s infinite;
    background-image: url('/statics/images/stars.svg');
  }
  .landing__front_noimage {
    padding: 50px 10px 50px!important;
    background-size: 240px;
  }
  @keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

</style>
