<template>
    <q-card class="MyCard">
      <q-card-section class="ChapterMediaObject__layout MediaDivLeft">
        <div>
          <q-intersection>
            <q-img
              :src="blok.topimage.filename" 
              class="rounded-borders ParagraphCard__image"
              style="max-width:265px;width:255px;"
            ></q-img>
          </q-intersection>
        </div>
      </q-card-section>
      <q-card-section class="MediaDivRight">
        <q-card class="MyCardInline">
          <q-card-section>
            <div
              class="ChapterMediaObject__body o-content text-weight-light"
              v-html="text"
            />
          </q-card-section>
          <q-card-section>
            <div class="text-weight-light"
              v-html="richtext"
            />
          </q-card-section>
        </q-card>
      </q-card-section>
  </q-card>
</template>
<script>
import Vue from 'vue'
import marked from 'marked'
import StoryblokClient from 'storyblok-js-client'
const token = 'QgNPvh0TZIMuvUAgWww3vwtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 
export default Vue.extend({
    props: ['blok'],
    computed: {
    richtext () {
      console.log('richtext is ' + this.blok.richtext.content[0].content[0].text)
      return this.blok.richtext ? storyapi.richTextResolver.render(this.blok.richtext) : ''
    },
    text () {
      return marked(this.blok.headertext)
    }
    }
})
</script>
<style lang="scss" scoped>
@import '../../css/scss/settings/spacings';
.MyCardInline {
  width: 100%;
  max-width: 360px;
  background-color: rgb(33, 193, 207);
}
.MyCardTile {
  width: 100%;
  max-width: 360px;
  background-color: rgb(229, 239, 240);
}
.ChapterMediaObject {
  overflow: hidden;
  width: 100%;
}

.ChapterMediaObject__layout {
  display: flex;
  margin-top: -(setting-spacing(m));
  margin-left: -(setting-spacing(xxl));
  flex-wrap: wrap;

  > * {
    padding-top: setting-spacing(m);
    padding-left: setting-spacing(xxl);
  }

  align-items: center;
}

.ChapterMediaObject__body {
  flex-basis: 24em;
  flex-grow: 1;
}

.ChapterMediaObject__figure {
  margin-right: auto;
  max-width: 450px;
  flex-basis: 16em;
  flex-grow: 1;
  box-sizing: content-box;
}
.MainImage {
  max-width: 350px;
}
.RichText {
  text-align: center;
  font-size: 12px;
}
.MyCard {
  float: right;
}
.MediaDivLeft {
  float: left;
  width: 30px;
  margin-right: 40px;
}
.MediaDivRight {
  float: left;
  width: 270px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  clear:left;
}
.ParagraphCard__image {
  max-height: 200px;
  height: 200px;
  width: 300px;
  max-width: 300px;
  border: 1px solid;
}
</style>
