<template>
    <q-page class="flex q-pa-md landing">
      <section class="Section">
          <div>
              <div class="q-pa-md q-gutter-sm" style="width:100%;">
                  <q-breadcrumbs>
                  <q-breadcrumbs-el icon="home" to="/home" />
                  <q-breadcrumbs-el label="About Us" icon="contacts" />
                  </q-breadcrumbs>
              </div>
            </div>
        <q-card class="my-card">
          <q-card-section v-for="(blok, key) in story.content.body" :key="key">
              <about :blok="blok"></about>
          </q-card-section>
        </q-card>
      </section>
  </q-page>
</template>
<script lang="ts">
import Vue from 'vue'

// 1. Require the Storyblok client
import StoryblokClient from 'storyblok-js-client'
import { date } from 'quasar'

// 2. Set your token - you will be able to create a new space later.
const token = 'QgNPvh0TZIMuvUAgWww3vwtt'

// 3. Initialize the client with the preview token so we can access our API easily
// from your space dashboard at https://app.storyblok.com
const storyapi = new StoryblokClient({
  accessToken: token
}) 

export default Vue.extend({
  name: 'PageIndex',
  components: {
      // Page: require('components/Page').default
       about: require('components/About').default
     },
  data () {
     return { 
       Test: '',
       content: '',
       msg: 'Welcome to Your Vue.js App',
        story: {
          content: {
            body: []
          }
      }
    }
  },
  methods: {
      getStoryThree (slug: unknown, version: unknown) {
         storyapi.get('cdn/stories/' + slug, {
          version: version
        })
        .then((response) => {
          
          this.$nextTick(() => {
            console.log('story data story ' + response.data.story)
            console.log('story data ' + response.data)
            console.log('slug ' + slug)
            console.log('version ' + version)
            console.log('content ' + response.data.story.content)
            this.story = response.data.story
          })
        })
        .catch((error) => {
          console.log(error)
        })
      }  
  },
  created () {
    // 4. Initialize the Storyblok Client Bridge to allow us to subscribe to events
    // from the editor itself.
    window.storyblok.init({
      accessToken: token
    })
    window.storyblok.on('change', () => {
      // this will indicate to load the home story, exchange that with the full slug of your content
     // either it is the page URL or hardcoded as in the example below
      this.getStoryThree('ourvalues', 'draft')
    })
    window.storyblok.pingEditor(() => {
      if (window.storyblok.isInEditor()) {
       this.getStoryThree('ourvalues', 'draft')
        console.log('get draft')
      } else {
        console.log('get published')
        this.getStoryThree('ourvalues', 'published')
      }
    })
  }
})
</script>
<style lang="scss" scoped>
.my-card {
  width: 100%;
  margin-top: 6px;
}
.title {
  text-align: center;
}
.top-image {
  max-width: 280px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  .Section {
  width: 100%;
}
</style>
