<template>
<q-page class="flex q-pa-md landing">
    <div class="full-width">
      <div class="q-pa-md q-gutter-sm">
            <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/home" />
            <q-breadcrumbs-el :label="story.content.header" icon="forum" />
            </q-breadcrumbs>
        </div>
      <!-- <blogslist :blok="story.content" :slug="pageName"/> -->
      <listheader bgColor="bg-orange-4">
        Blogs
      </listheader>
      <q-list 
        separator 
        bordered
        class="full-width">
        <!-- <q-item v-for="(link, uuid) in alllinks.linkItem" :key="uuid">
            <bloglink :link="link"  />
        </q-item> -->
         <q-item class="bg-green-1" clickable v-ripple v-for="item in pageOfItems" :key="item.id">
              <q-item-section>
                <a class="BlogLink" :href="item.fullslug">
                  <div class="row">
                      <div class="column DivColumn">
                          <q-item-label>
                              <a class="BlogLink" :href="item.fullslug">{{ item.name }}</a>
                          </q-item-label>
                      </div>
                      <div class="column DivColumn">
                          <q-item-label>{{ item.published }}</q-item-label>
                      </div>
                  </div>
                </a>
            </q-item-section>
          </q-item>
      </q-list>

       <div class="Paginator">
          <jw-pagination :items="alllinks.linkItem" @changePage="onChangePage" :pageSize="perpage"></jw-pagination>
      </div>
    </div>
</q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import StoryblokClient from 'storyblok-js-client'
import JwPagination from 'jw-vue-pagination'
import { date } from 'quasar'
const exampleItems = [...Array(150).keys()].map(i => ({ id: (i + 1), name: 'Item ' + (i + 1) }))

const token = 'QgNPvh0TZIMuvUAgWww3vwtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 
export default Vue.extend({
 name: 'BlogsList',
     data () {
       linkItem: {
                name: ''
                slug: ''
                fullslug: ''
              }
         return {
                story: {
                content: {
                    body: []
                }
            },
              pageName: '',
              links: {
                content: {
                  body: []
                }
              },
              alllinks: {
                linkItem: [{
                  name: '',
                  slug: '',
                  fullslug: '',
                  uuid: '',
                  published: ''
                }]
              },
              currentPagelinks: {
                linkItem: [{
                  name: '',
                  slug: '',
                  fullslug: '',
                  uuid: '',
                  published: ''
                }]
              },
              page: 1,
              perpage: 5,
              maxresults: 3,
              exampleItems,
              pageOfItems: []
        }
     },
     components: {
         // blogslist: require('components/blogs/BlogList').default,
         // bloglink: require('components/blogs/BlogLink').default,
         listheader: require('components/Shared/TopHeader.vue').default,
         JwPagination
     },
     methods: {
      getStory (slug: unknown, version: unknown) {
        const langId = this.$route.params.lang
         storyapi.get(`cdn/stories/${langId}/` + slug, {
          version: version
        })
        .then((response) => {
          
          this.$nextTick(() => {
            this.story = response.data.story
          })
        })
        .catch((error) => {
          console.log(error)
        })
      },
      getBlogList (version: unknown) {
        const langId = this.$route.params.lang
         storyapi.get('cdn/stories/', {
          version: version,
          // Load all the links into the alllinks collection
          // paginated: 1,
          // per_page: this.perpage,
          // page: this.page,
          starts_with: `${langId}/blogs/`,
          sort_by: 'published_at:desc'
        })
        .then((response) => {
          
          this.$nextTick(() => {
            
            // Clear the list
            this.alllinks.linkItem.length = 0
            response.data.stories.forEach(element => {
              const linkItem = {
                name: '',
                slug: '',
                fullslug: '',
                uuid: '',
                published: ''
              }

              linkItem.name = element.content.name
              linkItem.fullslug = element.full_slug
              linkItem.slug = element.slug
              linkItem.uuid = element.uuid
              // linkItem.published = element.published_at
              const timestamp = element.published_at

              const todate = new Date(timestamp).getDate()
              const tomonth = new Date(timestamp).getMonth() + 1
              const toyear = new Date(timestamp).getFullYear()
              const originalDate = todate + '/' + tomonth + '/' + toyear
              linkItem.published = originalDate

              this.alllinks.linkItem.push(linkItem)
              // console.log('element ' + element.name)
            })
            // console.log('Response ' + response)
          })
        })
        .catch((error) => {
          console.log(error)
        })
      },
      onChangePage (pageOfItems) {

          // update page of items
            this.pageOfItems = pageOfItems
        },
      onChange (pageOfItems) {
        this.alllinks.linkItem = pageOfItems
      }
    },
    created () {
    // get the blog id
    const blogId = this.$route.params.slug
    this.pageName = blogId
    window.storyblok.init({
      accessToken: token
    })
    window.storyblok.on('change', () => {
      this.getStory('bloglist', 'draft')
      this.getBlogList('draft')
    })
    window.storyblok.pingEditor(() => {
      if (window.storyblok.isInEditor()) {
       this.getStory('bloglist', 'draft')
        // console.log('get draft')
        this.getBlogList('draft')
      } else {
        // console.log('get published')
        this.getStory('bloglist', 'published')
        this.getBlogList('published')
      }
    })
  },
  mounted () {
      // this.pageName = 
  }
    
})
</script>
<style lang="scss" scoped>
.DivColumn {
    padding: 5px;
}
.Paginator {
  padding: 10px;
}
.BlogLink {
  text-decoration: none;
}
</style>
