<template>
<q-page class="flex q-pa-md landing">
  <section class="Section" v-editable="story.content">
    <blogdetails
    :blok="story.content"
     />
  </section>
</q-page>
</template>
<script lang="ts">
import Vue from 'vue'
import StoryblokClient from 'storyblok-js-client'
import { date } from 'quasar'

const token = 'QgNPvh0TZIMuvUAgWww3vwtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 

export default Vue.extend({
     name: 'BlogDetail',
     data () {
         return {
                story: {
                content: {
                    body: []
                }
            }
        }
     },
     components: {
         blogdetails: require('components/blogs/Blog').default
     },
     methods: {
      getStory (slug: unknown, version: unknown) {
        const langId = this.$route.params.lang
         storyapi.get(`cdn/stories/${langId}/blogs/` + slug, {
          version: version
        })
        .then((response) => {
          
          this.$nextTick(() => {
            this.story = response.data.story
          })
        })
        .catch((error) => {
          console.log(error)
        })
      }  
    },
    created () {
    // get the blog id
    const blogId = this.$route.params.slug

    window.storyblok.init({
      accessToken: token
    })
    window.storyblok.on('change', () => {

      this.getStory(blogId, 'draft')
    })
    window.storyblok.pingEditor(() => {
      if (window.storyblok.isInEditor()) {
       this.getStory(blogId, 'draft')
        console.log('get draft')
      } else {
        console.log('get published')
        this.getStory(blogId, 'published')
      }
    })
  }
    
})
</script>
<style lang="scss" scoped>
.Section {
  width: 100%;
}
</style>
