<template>
    <div v-editable="blok">
        <q-card class="aboutCard">
            <q-card-section>
                <q-img 
                    :src="blok.imagetopright.filename"
                    height="218px"
                    width="230px"
                    class="rounded-borders"
                >
                    <div class="absolute-full text-subtitle2 flex flex-center">
                        <h6 class="aboutUsParagraphHeader">{{ blok.headline }}</h6>
                    </div>
                </q-img>
                <div class="aboutUsCardDescriptionBlock text-weight-light">
                <div class="aboutUsCardDescriptionBlockRichText">
                    <div
                        v-html="description"
                    ></div>
                </div>
            </div>
            </q-card-section>
        </q-card>
    </div>
</template>
<script>
import Vue from 'vue'
import marked from 'marked'
import StoryblokClient from 'storyblok-js-client'
const token = 'QgNPvh0TZIMuvUAgWww3vwtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 
export default Vue.extend({
    props: ['blok'],
    computed: {
        description () {
            return this.blok.description ? storyapi.richTextResolver.render(this.blok.description) : ''
        }
    }
})
</script>
<style lang="scss" scoped>
.aboutCard {
  width: 100%;
  border: 0px;
}
.aboutUsCardDescriptionBlock {
    padding-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
.aboutUsCardDescriptionBlockRichText {
    max-width: 64em;
}
.aboutUsParagraphHeader {
  margin-block-start: 0.33em;
  margin-block-end: 0.33em
}
</style>
