<template>
  <div class="q-pa-md row items-start q-gutter-md">
    <Component
      :is="`${paragraph.component.replace(/_/g, `-`)}`"
      v-for="paragraph in paragraphs"
      :key="paragraph._uid"
      :blok="paragraph"
    />
  </div>
</template>

<script>
export default {
  name: 'ParagraphLoader',
  components: {
    ParagraphPlainCard: require('components/paragraphs/ParagraphPlainCard').default
  },
  props: {
    paragraphs: {
      required: true,
      type: Array
    }
  }
}
</script>
