<template>
  <div class="q-pa-md row items-start q-gutter-md ParagraphPadding">
    <Component
      :is="`${paragraph.component.replace(/_/g, `-`)}`"
      v-for="paragraph in paragraphs"
      :key="paragraph._uid"
      :blok="paragraph"
    />
  </div>
</template>

<script>
export default {
  name: 'ParagraphLoader',
  components: {
    ParagraphCard: require('components/paragraphs/ParagraphCard').default
  },
  props: {
    paragraphs: {
      required: true,
      type: Array
    }
  }
}
</script>
<style lang="scss" scoped>
.ParagraphPadding {
  padding-left: 5px;
  padding-right: 5px;
}
</style>
