<template>
  <q-page class="flex q-pa-md landing">
      <div class="landing__space">
          <ratescontainer :blok="story.content"></ratescontainer>
      </div>    
  </q-page>
</template>

<script lang="ts">
import Vue from 'vue'
// https://www.storyblok.com/tp/structuring-content-storyblok-vuejs#rendering-stories-in-vuejs
// 1. Require the Storyblok client
import StoryblokClient from 'storyblok-js-client'
import { date } from 'quasar'

// 2. Set your token - you will be able to create a new space later.
const token = 'QgNPvh0TZIMuvUAgWww3vwtt'

// 3. Initialize the client with the preview token so we can access our API easily
// from your space dashboard at https://app.storyblok.com
const storyapi = new StoryblokClient({
  accessToken: token
}) 

export default Vue.extend({
  name: 'OurRates',
  components: {
       // storylandingpage: require('components/index/StoryLandingPage').default
      // staff: require('components/staff/Staff').default
      ratescontainer: require('components/Rates/RatesContainer').default
     },
  data () {
     return { 
       Test: '',
       content: '',
       slug: 'home',
        story: {
          content: {
            body: [],
            chapters: []
          }
      }
    }
  },
  methods: {
      getStory (slug: unknown, version: unknown) {
        const langId = this.$route.params.lang
         storyapi.get(`cdn/stories/${langId}/rates/` + slug, {
          version: version
        })
        .then((response) => {
          
          this.$nextTick(() => {
            console.log('story data story ' + response.data.story)
            console.log('story data ' + response.data)
            console.log('slug ' + slug)
            console.log('version ' + version)
            console.log('content ' + response.data.story.content)
            this.story = response.data.story
          })
        })
        .catch((error) => {
          console.log(error)
        })
      }  
  },
  created () {
    // 4. Initialize the Storyblok Client Bridge to allow us to subscribe to events
    // from the editor itself.
    window.storyblok.init({
      accessToken: token
    })
    window.storyblok.on('change', () => {
      // this will indicate to load the story use the page slug
      this.getStory('ourrates', 'draft')
    })
    window.storyblok.pingEditor(() => {
      if (window.storyblok.isInEditor()) {
       this.getStory('ourrates', 'draft')
        console.log('get draft')
      } else {
        console.log('get published')
        this.getStory('ourrates', 'published')
      }
    })
  }
})
</script>
<style lang="scss" scoped>
.my-card {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.title {
  text-align: center;
}
.top-image {
  max-width: 280px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.landing {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  width: 100%;
}
.landing__space {
  width: 100%;
}
</style>
