<template>
    <q-footer reveal elevated>
        <q-toolbar>
          <div class="Links"><a href="/home">Home</a></div>|
          <div class="Links"><a href="/en/privacy">Privacy</a></div>|
          <div class="Links"><a href="/en/terms">Terms</a></div>|
          <div class="Links"><a href="en/contactus">Contact</a></div>
          <q-toolbar-title></q-toolbar-title>
          <cookie-law theme="dark-lime">
            <div slot="message" class="full-width">
            <p>This site uses cookies</p>
            <p>For more information:
            <q-btn class="q-button" to="/privacy" label="Privacy" outline color="purple" />
            </p>
            </div>
          </cookie-law>
        </q-toolbar>
      </q-footer>
</template>
<script>
import Vue from 'vue'
// https://openbase.io/js/vue-cookie-law
 import CookieLaw from 'vue-cookie-law'
export default Vue.extend({
  components: {
     CookieLaw
  }
    
})
</script>
<style lang="sass" scoped>
  .Links
    margin: 5px
    padding: 5px
  a
    display: block
    padding: 3px 3px
    text-decoration: none
    color: white
  .gina
    color: red
</style>
