<template>
<div class="row q-mb-sm">
<q-input
    outlined
    :value="message"
    type="textarea"
    @input="$emit('update:message', $event)"
    :rules="[val => !!val || 'Field is required']"
    
    ref="message"
    label="Message"
    class="col">
        <template v-slot:append>
    <q-icon
        v-if="message"
        @click="$emit('update:message', '')"
        name="close"
        class="cursor-pointer" />
    </template>
</q-input>
</div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['message']
})
</script>
