$colors: (
  a: #2196f3,
  b: #2364aa,
  c: #73bfb8,
  d: #fec601,
  e: #ea7317,
  text: #222
);

/// Contrast colors.
/// @type Map
$colors-contrast: (
  a: #fff,
  b: #fff,
  c: #fff,
  d: #fff,
  e: #fff
) !default;

/// Alert colors.
/// @type Map
$colors-alert: (
  positive: #468847,
  neutral: #3a87ad,
  cautious: #c09853,
  negative: #b94a48
) !default;

/// Gray colors.
/// @type Map
$colors-gray: (
  a: #f5f5f5,
  b: #e0e0e0,
  c: #9e9e9e
) !default;

@function setting-color($color, $type: default) {
  @if $type == contrast {
    @return map-get($colors-contrast, $color);
  } @else if $type == alert {
    @return map-get($colors-alert, $color);
  } @else if $type == gray {
    @return map-get($colors-gray, $color);
  }
  @return map-get($colors, $color);
}
