$spacings: (
  xxs: 0.25em,
  xs: 0.5em,
  s: 0.75em,
  m: 1em,
  l: 1.5em,
  xl: 2em,
  xxl: 3.5em,
  xxxl: 6em
) !default;

@function setting-spacing($size, $rem: false) {
  $spacing: map-get($spacings, $size);
  @if $rem {
    $spacing: ($spacing / 1em) * 1rem;
  }
  @return $spacing;
}
