<template>
    <div>

    </div>
</template>
<script lang="ts">
import Vue from 'vue'
import StoryblokClient from 'storyblok-js-client'
import { date } from 'quasar'

const token = 'QgNPvh0TZIMuvUAgWww3vwtt'
const storyapi = new StoryblokClient({
  accessToken: token
}) 

export default Vue.extend({
     name: 'BlogDetail',
     data () {
         return {
                story: {
                content: {
                    body: []
                }
            }
        }
     },
     components: {
         // blogdetails: require('components/blogs/Blog').default
     },
     methods: {
      getStory (slug: unknown, version: unknown) {
        const langId = this.$route.params.lang
         storyapi.get(`cdn/stories/${langId}/general/` + slug, {
          version: version
        })
        .then((response) => {
          
          this.$nextTick(() => {
            this.story = response.data.story
          })
        })
        .catch((error) => {
          console.log(error)
        })
      }  
    },
    created () {
    // get the slug id
    const slug = this.$route.params.slug

    window.storyblok.init({
      accessToken: token
    })
    window.storyblok.on('change', () => {

      this.getStory(slug, 'draft')
    })
    window.storyblok.pingEditor(() => {
      if (window.storyblok.isInEditor()) {
       this.getStory(slug, 'draft')
        console.log('get draft')
      } else {
        console.log('get published')
        this.getStory(slug, 'published')
      }
    })
  }
    
})
</script>
