<template>
    <div v-editable="chapter" class="text-weight-light">
        {{ chapter.headline }}
        <div>
            {{ chapter.text }}
        </div>
        <div>
            {{ $options.name }}
        </div>
    </div>
    
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['chapter']
})
</script>
