<template>
    <div>
        <div>
            <div class="q-gutter-sm">
                <q-checkbox 
                    name="productoption" 
                    v-model="blok.price" 
                    :true-value="blok.price" 
                    :label="blok.name" 
                    v-on:click.native="checktotal"
                    color="primary" />
            </div>
        </div>
        <!-- <div>
            {{ blok.name }}
        </div>
        <div>
            {{ blok.price }}
        </div> -->
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
import productsScript from 'src/scripts/shared/products'
export default Vue.extend({
    props: ['blok'],
    data () {
        return {
            teal: true
        }
    },
    methods: {
        checktotal () {
            productsScript.checktotal()
        }
    }
})
</script>
