<template>
    <div>
        <!-- Product -->
        <div>
            <q-checkbox 
                name="productoption" 
                v-model="blok.price" 
                :true-value="blok.price" 
                :label="blok.description" 
                v-on:click.native="checktotal"
                color="primary"
            />
        </div>
        <!-- Loop through options  -->
        <div v-for="(blok, key) in blok.productoptions" :key="key">
            <productoption :blok="blok"></productoption>
        </div>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { constants } from 'fs'
import productsScript from 'src/scripts/shared/products'
export default Vue.extend({
    props: ['blok'],
    components: {
        productoption: require('components/quotes/ProductOption').default
    },
    methods: {
        checktotal () {
            productsScript.checktotal()
        }
    }
})
</script>
