<template>
    <div>
        <!-- Loop through Products -->
        <div v-for="(blok, index) in blok" :key="index">
            Yes {{blok.description}}
            <product :blok="blok"></product>
        </div>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    props: ['blok'],
    components: {
        product: require('components/quotes/Product').default
    }
})
</script>
