<template>
    <q-page class="flex q-pa-md landing">
        <section class="Section">
          <div>
            <div class="q-pa-md q-gutter-sm" style="width:100%;">
                <q-breadcrumbs>
                <q-breadcrumbs-el icon="home" to="/home" />
                <q-breadcrumbs-el label="Contractor Supply" icon="people" />
                </q-breadcrumbs>
            </div>
          </div>
          <q-card class="my-card">
              <q-card-section>
                    <contractsupply :blok="story.content"></contractsupply>
              </q-card-section>
          </q-card>
        </section>
  </q-page>
</template>
<script lang="ts">
import Vue from 'vue'

// 1. Require the Storyblok client
import StoryblokClient from 'storyblok-js-client'
import { date } from 'quasar'

// 2. Set your token - you will be able to create a new space later.
const token = 'QgNPvh0TZIMuvUAgWww3vwtt'

// 3. Initialize the client with the preview token so we can access our API easily
// from your space dashboard at https://app.storyblok.com
const storyapi = new StoryblokClient({
  accessToken: token
}) 

export default Vue.extend({
  name: 'PageIndex',
  components: {
        // contactus: require('components/ContactUs/ContactUs').default
        contractsupply: require('components/contractors/ContractorSupply').default

     },
  data () {
     return { 
        story: {
          content: {
            body: [],
            contactdetails: {
                addresses: [],
                contacttypes: []
            }
          }
      }
    }
  },
  methods: {
      getStoryThree (slug: unknown, version: unknown) {
          const langId = this.$route.params.lang
         storyapi.get(`cdn/stories/${langId}/` + slug, {
          version: version
        })
        .then((response) => {
          
          this.$nextTick(() => {
            console.log('story data story ' + response.data.story)
            console.log('story data ' + response.data)
            console.log('slug ' + slug)
            console.log('version ' + version)
            console.log('content ' + response.data.story.content)
            console.log('content contactdetails ' + response.data.story.content.contactdetails)
            this.story = response.data.story
          })
        })
        .catch((error) => {
          console.log(error)
        })
      }  
  },
  created () {
        // console.log('env token router ' + process.env.VUE_ROUTER_MODE)

    // 4. Initialize the Storyblok Client Bridge to allow us to subscribe to events
    // from the editor itself.
    window.storyblok.init({
      accessToken: token
    })
    window.storyblok.on('change', () => {
      // this will indicate to load the home story, exchange that with the full slug of your content
     // either it is the page URL or hardcoded as in the example below
      this.getStoryThree('contractorsupply', 'draft')
    })
    window.storyblok.pingEditor(() => {
      if (window.storyblok.isInEditor()) {
       this.getStoryThree('contractorsupply', 'draft')
        console.log('get draft')
      } else {
        console.log('get published')
        this.getStoryThree('contractorsupply', 'published')
      }
    })
  }
})
</script>
<style lang="scss" scoped>
.my-card {
  width: 100%;
  margin-top: 6px;
}
.title {
  text-align: center;
}
.top-image {
  max-width: 280px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  .Section {
  width: 100%;
}
</style>
