<template>
<div>
    <q-banner
        dense
        inline-actions
        :class="bgColor"
        class="list-header text-white text-center">
    <span class="text-bold text-subtitle1"><slot></slot></span>
    </q-banner>
</div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    name: 'TopHeader',
    props: ['bgColor']
})
</script>
<style lang="scss" scoped>
.list-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
</style>
